label{
    display: inline-block;
    margin: 0;
}

input{
    display: block;
    border: 1px #fff;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    
}

.btn{
    background-color: black;
    color: #fff;
    cursor: pointer;
    display: block;
    padding: 10px;
    margin: 10px 0 30px;
    font-size: 16px;
    width: 100%;
}